<% @posts.each do |post| %>
  <div class="post">
    <div class="profile">
      <%= image_tag "/images/profile/test.png" %>
      <div class="name">
        <%= post.target_id %>
        <%= post.account_name %>
        <%= post.account_name %>
      </div>
    </div>
    <% if post.count == 1 %>
      <% count = "one" %>
    <% elsif post.count == 2 %>
      <% count = "two" %>
    <% elsif post.count == 3 %>
      <% count = "three" %>
    <% elsif post.count == 4 %>
      <% count = "four" %>

    <% end %>
    <div class="image <%= count %>">
      <% i = 0 %>
      <% while i < post.count %>
        <div class="trim lb">
          <%= image_tag "/images/posts/" + post.target_id + "/" + post.post_id + "/" + i.to_s + ".jpg", :width => '100px', :height => '100px' %>
        </div>
        <% i += 1 %>
      <% end %>
    </div>
  </div>

<% end %>