<% @posts.each do |post| %>
  <div class="post">
    <div class="profile">
      <%= image_tag "/images/profile/test.png" %>
      <div class="name">
        <%=link_to post.account_name,"/"+post.target_id,:class=>"account_name"%>
        <%=link_to post.target_id,"/"+post.target_id ,:class=>"target_id"%>
      </div>

    </div>
    <% if post.count == 1 %>
      <% count = "one" %>
    <% elsif post.count == 2 %>
      <% count = "two" %>
    <% elsif post.count == 3 %>
      <% count = "three" %>
    <% elsif post.count == 4 %>
      <% count = "four" %>

    <% end %>
    <div class="image <%= count %>">
      <% i = 0 %>
      <% while i < post.count %>

        <div class="trim">
          <%=image_tag("/images/posts/" + post.target_id + "/" + post.post_id + "/" + i.to_s + ".jpg", :width => '100px', :height =>
              '100px',:class => "image-modal", data:{'id'=>post.target_id + post.post_id + i.to_s})%>

          <!--<div id="imagemodalwin" class="modalwin hide">-->
          <div id="<%=post.target_id + post.post_id + i.to_s%>" class="modalwin hide">
            <a herf="#" class="modal-close"></a>
            <h1>画像</h1>
            <div class="modalwin-contents">
              <%= image_tag("/images/posts/" + post.target_id + "/" + post.post_id + "/" + i.to_s + ".jpg", :width => '100px', :height =>
                  '100px') %>
              <button>閉じる</button>

            </div>
          </div>

        </div>

        <% i += 1 %>
      <% end %>
      </div>
  </div>

<% end %>