<%= stylesheet_link_tag    'setting',media:'all','data-turbolinks-track':'reload' %>

<div id = "user_information_area">

  <h1>ユーザー情報</h1>
  <div id = "config_menu">
  <ul>
    <li>メールアドレス</li>
    <li>パスワード</li>
  </ul>
  </div>


  <br>
  <br>

  <div id = "mail_address_config">
    <ul style="list-style: none;">
      <li>
        <%= label_tag "メールアドレス" %>
        <%= text_field_tag "Before the change", value = @mail_address, :readonly => true %>

      </li>
      <li>
        <%= label_tag "メールアドレス変更" %>
        <%= text_field_tag "to change address" %>
      </li>
      <li>
        <%= label_tag "メールアドレス確認" %>
        <%= text_field_tag "confirm address" %>
      </li>
      <li>
        <%= label_tag "パスワード" %>
        <%= text_field_tag "password" %>
      </li>
    </ul>
  </div>





</div>