<%= stylesheet_link_tag 'setting', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="user_information_area">

  <h1>ユーザー情報</h1>
  <div id="config_menu">
    <ul>
      <li>
        <%= link_to 'メールアドレス変更','/setting/index' %>
      </li>
      <li>
        <%= link_to'パスワード変更', '/setting/password_config'%>
      </li>

    </ul>
  </div>


  <br>
  <br>

  <div id="mail_address_config">
      <%= form_tag(controller: 'setting', action: 'index') do %>
        <ul style="list-style: none;">
          <li>
            <%= label_tag 'address2', text="メールアドレス" %>
            <%= text_field_tag "Before_the_change", value = @mail_address, :readonly => true %>
          </li>
          <li>
            <%= label_tag "メールアドレス変更" %>

            <%= text_field_tag "to_changed_address", value = session[:to_changed_address] %>
          </li>
          <li>
            <%= label_tag "メールアドレス確認" %>
            <%= text_field_tag "confilm_address", value = session[:confilm_address] %>
          </li>
          <li>
            <%= label_tag "パスワード" %>
            <%= text_field_tag "password" %>
          </li>
        </ul>
        <%= submit_tag 'button', :name => 'button' %>
      <% end %>


  </div>


</div>