<%= stylesheet_link_tag 'setting', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="user_information_area">

  <h1>ユーザー情報</h1>
  <div id="config_menu">
    <ul>
      <li>
        <%= link_to 'メールアドレス変更','/setting/index' %>
      </li>
      <li>
        <%= link_to'パスワード変更', '/setting/password_config'%>
      </li>

    </ul>
  </div>


  <br>
  <br>

  <div id="mail_address_config">

      <%= form_tag(controller: 'setting', action: 'password_config') do %>
        <ul style="list-style: none;">
          <li>
            <%= label_tag 'password', text="現在のパスワード" %>
            <%= password_field_tag "Before_the_change",value = session[:before_password] %>
          </li>
          <li>
            <%= label_tag "新しいパスワード" %>

            <%= password_field_tag 'to_changed_password',value = session[:after_password]%>
          </li>
          <li>
            <%= label_tag "新しいパスワード再入力" %>
            <%= password_field_tag 'confilm_password' %>
          </li>
        </ul>
        <%= submit_tag 'button', :name => 'button' %>
      <% end %>

  </div>


</div>