


<%= stylesheet_link_tag    'mypage', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id ="user_area">


  <p id = "current_user_image"><%= @profile_image %></p>
  <ul>
    <li> <p id = "current_user_name"><%= @account_name %></p></li>
    <div id="b">
    <li>
      <form method="post" action="">
        <a href="#" class="square_btn">編集</a>
      </form>
    </li>
    </div>
    <li><p id = "current_user_id"><%= @user_id %></p></li>
    <li><p id = "current_user_profile"><%= @profile%></p></li>
  </ul>


</div>

<div id = "user_content_area">

  <div id = "user_content">
    <ul style="list-style: none">
      <li><%= label_tag 'address2', text="投稿" %></li>
      <li><%= label_tag 'address2', text="フォロー" %></li>
      <li><%= label_tag 'address2', text="いいね" %></li>
    </ul>
  </div>

  <div id="user_main_contents">
    <%= image_tag "/images/profile/test.png",:size => '100x100',:id => "img"%>
  </div>

</div>



