<!DOCTYPE html>
<html>
  <head>
    <title>Nikki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'base', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <%=link_to "/top",:id=>"title" do%>
        <%= image_tag 'icon.png' %>
      <%end %>


      <div id="right_side">
        <%=form_tag controller:"top",action:"index" do%>
          <%=text_field_tag "keyword" %>
          <%=submit_tag "検索" %>
        <%end %>

        <div id="icon">
          <%=link_to "/mypage",:id=>"prof" do%>
            <%=image_tag 'prof.png' %>
          <%end %>
          <%=link_to "/setting",:id=>"conf" do%>
            <%=image_tag 'conf.png' %>
          <%end %>
        </div>
      </div>

  </header>



  <div id="side_main_menu">
    <ul>
      <li>トップ</li>
      <li>ランキング</li>
      <li>最新の投稿</li>
      <li>Coming Soon</li>
      <li>Coming Soon</li>
    </ul>
    <a href="#"><%= image_tag 'post.png' %></a>
  </div>

  <div id="main">

  </div>
    <%= yield %>
  </body>
</html>
