<!DOCTYPE html>
<html>
  <head>
    <title>Nikki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'base', media: 'all'%>
    <%= javascript_include_tag 'application'%>

  </head>

  <body>
    <header class="clearfix">
      <ul id="menu">
        <li><%=link_to "トップ","/top" %></li>
        <li><%=link_to "ランキング","/ranking" %></li>
        <li><%=link_to "最新の投稿","/newpost" %></li>
      </ul>
      <div id="right">
        <div id="user_menu">
          <div id="icon">
            <%=link_to "/" + @current,:id=>"prof" do%>
              <%=image_tag 'prof.png' %>
            <%end %>
            <%=link_to "/setting",:id=>"conf" do%>
              <%=image_tag 'conf.png' %>
            <%end %>
          </div>
        </div>

        <div id="post_menu">
          <%= image_tag "post.png",:class=> "post-modal" %>
          <%= render template: 'layouts/post'%>
        </div>
      </div>


  </header>

  <div id="main">
    <%= yield %>
  </div>

  </body>
</html>
